@model IEnumerable<PrimerParcial.Models.acciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dineroInvertido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accionesOperadas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioAccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dineroInvertido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accionesOperadas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
